html {
  font-size: 62.5%;
  width: 100%; 
  height: 100%;
} 

body {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100%; 
  height: 100%;
  display: flex;
}

#main-row {
  height: 100vh;
  background: #fff;
}

#sidebar-container {
  height: 100%;
  overflow: scroll;
  padding: 5px 15px 5px 30px;
}

#map {
  height: 100% !important;
}

#map-container {
  height: 100%;
  padding: 0 10px 0 0 !important;
}

a {
  color: #2c75c9;
  text-decoration: none;
}

a:visited {
  color: #2c75c9;
  text-decoration: none;
}

a:hover   {
  color: #fa6900;
  text-decoration: none;
}

a:active   {
  color: #fa6900;
  text-decoration: none;
}

.leaflet-popup-content {
  width:auto !important;
}

div.leaflet-popup-content {
  width:auto !important;
}

div.leaflet-popup-content p {
  white-space: nowrap;
}

.leaflet-container {
  background-color: white !important;
}

.form-group {
  margin: 5px 0 15px 15px;
}

.legendTitle {
	        text-anchor: middle;
	        font-size: 1.4rem;
	        fill: #4F4F4F;
	        font-weight: 300;
}

.axis path,
.axis tick,
.axis line {
	fill: none;
	stroke: none;
}

.leaflet-popup-content {
  width:auto !important;
}

div.leaflet-popup-content {
  width:auto !important;
}

div.leaflet-popup-content p {
  white-space: nowrap;
}